.config/
.dart-tool/
.dartServer/
.flutter
.pub-cache/
Library/
tools/

.DS_Store
.env
api/.env
api/env.local
api/.vs/
api/bin/
api/obj/
publish/
node_modules/
*.tsbuildinfo
web/.next/
web/out/
web/.env.local
web/.verification/
